strong {
  color: #21a038;
}

p {
  margin: 0;
}

.ordering-panel a {
  text-decoration: none;
  border: none;
  color: #21a038;
}

.ordering-panel a:hover {
  text-decoration: none;
  border: none;
  color: #666;
}
